
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10; /* Ensures the header stays above other content */
  }

/* Optional: Add some space below the header for better visibility */
body {
  padding-top: 60px; /* Adjust this value based on your header height */
}

/* Embed container styling */
.embed-container {
  position: relative;
  width: 60%;  /* Reduced width for a smaller container */
  margin: 20px auto;  /* Center with margin */
  height: 0;
  padding-top: 40%;  /* Reduced padding-top for a smaller aspect ratio */
  box-shadow: 0 2px 8px rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
}

iframe {
  position: absolute;
  width: 100%; /* Full width inside the container */
  height: 100%; /* Full height inside the container */
  top: 0;
  left: 0;
  border: none;
}
